body {
  font-size: 16px;
  margin: 0px;
}

.CodeFont {
  font-family: 'Google Sans Code', monospace !important;
  font-weight: 300;
}

.google-sans-code {
  font-family: "Google Sans Code", monospace;
  font-weight: 400;
  font-style: normal;
  color: hsla(0, 0%, 100%, 0.6);
  text-shadow: 1px 1px 3px hsla(0, 0%, 100%, 0.6);
}

#header {
  top: 10px;
  position: relative;
  z-index: 20;
  display: flex;
  flex-wrap: wrap;
  width: auto;
  gap: 10px;
  align-items: center;
  margin: 20px;
  border-radius: 100px;
  border: 3px solid hsl(0, 0%, 100%, 0.3);
  background: hsl(0, 0%, 100%, 0.08);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  box-shadow: inset 0 0 8px 2px hsl(0, 0%, 100%, 0.3);
}


#About {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin: 3vw 30px;
  width: fit-content;
}

.center-wrapper {
  display: flex;
  justify-content: center;
}

#About>* {
  font-family: "Google Sans Code", monospace;
  font-weight: 400;
  font-style: normal;
  color: hsla(0, 0%, 100%, 0.6);
  text-shadow: 1px 1px 3px hsla(0, 0%, 100%, 0.6);
}

#myCanvas {
  z-index: -1;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
}

#projectSection {
  margin-top: 30px;
}

@media (max-width: 900px) {
  #header {
    flex-direction: column;
    justify-content: center;
  }

  #header #icons {
    margin: 0;
    margin-bottom: 30px;
    align-self: center;
  }

  #header h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1rem
  }

  #header-text {
    margin-bottom: 20px;
    margin-top: -20px;
  }
}

.glass {
  width: auto;
  border-radius: 50px;
  border: 3px solid hsl(0, 0%, 100%, 0.3);
  background: hsl(0, 0%, 100%, 0.08);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  box-shadow: inset 0 0 8px 2px hsl(0, 0%, 100%, 0.3);
}

.logo-container {
  position: relative;
  margin-right: 20px;
  aspect-ratio: 1/1;
  width: fit-content;
  height: 160px;
  border-radius: 5em;
}



.main-nav {
  display: flex;
  min-width: 200px;
  align-items: center;
  gap: 1em;
  margin-left: auto;
  margin-right: 40px;

}

#icons {
  font-size: 2em;
  color: hsla(0, 0%, 100%, 0.6);
  text-shadow: 1px 1px 3px hsla(0, 0%, 100%, 0.6);
  margin-left: auto;
  margin-right: 30px;
}

#logo {
  z-index: 1;
  margin-top: 10px;
  margin-left: 40px;
  margin-right: 30px;
  width: 100px;
  min-width: 100px;
}



.lists {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto 20px;
  width: auto;
}

li {
  padding-bottom: 15px;
}

ul {
  padding-left: 20px;
}

.list {
  margin: 1vw;
  min-width: 200px;
}

#projects {
  margin-top: 3vw;
  margin-right: 30px;
  margin-left: 30px;
}

.project {
  min-width: 250px;
  max-width: 30vw;
  margin: auto;
}

#ph {
  margin: 30px auto;
  text-align: center;
}

video {
  width: 100%;
}

*>.project {
  font-family: "Google Sans Code", monospace;
  font-weight: 400;
  font-style: normal;
  color: hsla(0, 0%, 100%, 0.6);
  text-shadow: 1px 1px 3px hsla(0, 0%, 100%, 0.6);
  margin-bottom: 20px;
}

a:is(:link, :visited, :hover, :active, :focus, :focus-visible) {
  color: hsla(0, 0%, 100%, 0.6);
  text-shadow: 1px 1px 3px hsla(0, 0%, 100%, 0.6);
}